body{
    background-color: lightgray;
}

img{
    border: 3px solid red;
}

.galeria{

}

.contenedor-titulo{
    background-color: orange;
    width: 100%;
}

.fila-1{
    background-color: yellow;
}

.fila-2{
    background-color: aquamarine;
}

.fila-3{
    background-color: tomato;
}

.pie-de-pagina{
    background-color: greenyellow;
}