<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USUARIOS CR</title>
</head>
<body>
   <h1>Los Usuarios:</h1>

   {% for usuario in usuarios %}

   <p>

       <b>Nombre:</b> {{usuario.nombre}} <br>

       <b>Apellido:</b> {{usuario.apellido}} <br>

       <b>Correo:</b> {{usuario.email}} <br>
       <b>Fecha creación:</b> {{usuario.created_at}} <br>


   </p>

   {% endfor %}

</body>
</html>