<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear nuevo viaje</title>
</head>
<body>
    <h2>Nuevo viaje</h2>

    <form action="viajes/crear" method="post">
        <input type="text" name="destino" id="destino">
        <input type="date" name="fecha_inicio" id="">
        <input type="date" name="fecha_fin" id="">
        <input type="text" name="itinerario">

        <input type="submit" value="Guardar">
    </form>
</body>
</html>